body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #1d1d1d;
  color: white;
  margin: 0;
}

.top-bar {
  width: 100%;
  background-color: #1d1d1d;
  color: white;
  padding: 20px 0;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.top-bar .float-md-start {
  margin-right: 20px;
  font-size: 24px;
  font-weight: bold;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.nav-links {
  margin-left: auto;
}

.nav-link {
  color: #9898c1;
  margin-left: 1rem;
  text-decoration: none;
}

.nav-link.active {
  font-weight: bold;
}

.learn-more-btn {
  margin-top: 20px;
  color: white;
  background-color: darkorchid;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.learn-more-btn:hover {
  background-color: #9898c1;
}

.container {
  width: 90%;
  max-width: 820px;
  height: 60vh;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
}

.title h1 {
  font-size: xx-large;
  color: rgb(163, 83, 202);
}

.title h3 {
  font-size: x-large;
}

.title h4 {
  font-size: xx-large;
  color: rgb(163, 83, 202);
}

.faq-item {
  text-align: left;
  margin-bottom: 50px;
  border-radius: 15px;
  background-color: rgb(62, 60, 60);
}

.faq-item h2 {
  font-size: 20px;
  margin: 0;
  padding: 10px;
  color: #000;
}

.faq-item h3 {
  margin: 0 auto;
  margin-left: 0;
  padding: 10px;
  color: white
}

.contact-form {
  max-width: 600px;
  width: 100%;
  text-align: left;
  margin: 0 auto;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}

.contact-form textarea {
  height: 150px;
}

.contact-form input[type="submit"] {
  background-color: darkorchid;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 104%;
  transition: background-color 0.3s ease;
}

.contact-form input[type="submit"]:hover {
  background-color: #9898c1;
}

.methodology-section {
  margin-bottom: 100px;
  background-color: rgb(62, 60, 60);
  border-radius: 15px;
  padding: 20px;
}

.methodology-section p {
  font-size: 28px;
  margin-bottom: 20px;
  color: white;
}

.methodology-section img {
  max-width: 100%;
  margin-bottom: 20px;
}
